.game1Page {
    font-family: Verdana;
    max-width: 800px; 
    margin: 40px auto; 
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
  }
  
  .game1Page h2 {
    font-size: 2rem;
    font-family: Verdana;
    color: #0E668B; 
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #0E668B;
    padding-bottom: 10px;
  }
  
  .game1Page p {
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333;
    background-color: #e9f5ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); 
  }
  
  .game1Page p:hover {
    background-color: #d1eaff;
    transition: background-color 0.3s ease;
  }

  .game1StartButton button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 25px;
    background-color: #007bff; 
    color: white; 
    text-align: center; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 1.2rem;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  .game1StartButton button:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  }
  